.services-section {
    align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url("../Images/background2.png");
  background-position: center center; /* Shifts the background image to 10% from the left edge of the container */
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 1.5vmin);
  justify-content: center;
  min-height: 90vh;
}

.services-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.service-item {
    width: 30%; /* Adjust based on preference */
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.service-item h2 {
    color: #0055a5; /* Example color */
}