.services-section {
    align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url("../Images/background2.png");
  background-position: center center; /* Shifts the background image to 10% from the left edge of the container */
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 1.5vmin);
  justify-content: center;
  min-height: 90vh;
}

.services-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px; /* Adjust the gap between items */
}

.service-item {
    display: flex; /* Enable Flexbox */
    align-items: flex-start; /* Align items to the start of the cross axis */
    justify-content: space-between; /* Space out content and image */
    width: 90%;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    background-color: aliceblue;
}

.service-item img {
    max-width: 40%; /* Adjust as necessary */
    height: auto; /* Maintain aspect ratio */
    margin-left: 15px; /* Add some space between the text and the image */
}
.service-item h2 {
    color: #0055a5; /* Example color */
}

.title {
    color: rgb(255, 255, 255);
    text-align: center; /* Center the title horizontally */
    font-family: "Georgia", "Times New Roman", serif; /* A font that carries an academic feel */
    padding-top: 10px; /* Adds padding at the top inside the element */
    font-size: 3.5rem; /* Large font size for the title */
    text-transform: uppercase; /* Optional: Uppercase letters for a more formal appearance */
    letter-spacing: 2px; /* Adds spacing between the characters for better readability */
    text-shadow: 2px 2px 4px rgba(21, 40, 103, 0.5); /* Deep Blue with some transparency for shadow */
  }
  