.about-container {
    align-items: center;
    background: linear-gradient(rgba(217, 143, 80, 0.7), rgba(27, 65, 162, 0.7)), url("../Images/background6.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* This makes the background fixed during scrolling */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .about-title {
    color: rgb(255, 255, 255);
    font-family: 'Lato', serif;
    padding-top: 10px;
    font-size: 4rem; /* Slightly larger */
    letter-spacing: 3px;
    text-shadow: 2px 2px 6px rgba(21, 40, 103, 0.6);
  }
  
  .about-content {
    font-size: 1rem;
    color: #333;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .about-image {
    text-align: center;
    margin-top: 20px;
  }
  
  .about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .about-content p {
    font-size: 1.8rem;
    color: #ffffff;
    width: 70%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    padding: 20px 0; /* Added padding */
    font-weight : bold;
  }

  .GabiIcon {
    width: 450px; /* Adjust the size as needed */
    height: 450px; /* Adjust the size as needed */
    border-radius: 50%; /* Makes the image round */
    object-fit: cover; /* Ensures the image covers the area and maintains aspect ratio */
    border: 3px solid #0055a5; /* Optional: adds a border, choose a color that fits the site's theme */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: adds a subtle shadow for depth */
    display: block;
    margin: auto; /* Centers the image if in a flex or block container */
}