.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 40px;
  background: linear-gradient(135deg, rgba(217, 143, 80, 0.85), rgba(27, 65, 162, 0.85)), url("../Images/background1.png") center/cover no-repeat fixed;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
}

.contact-title {
  margin: 0 0 30px 0;
  font-size: 2.5rem;
  color: #ffffff;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.contact-form {
  max-width: 500px;
  width: 100%;
  background-color: rgba(3, 24, 39, 0.7); /* Clean White with slight transparency */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  color: #fffcfc;

}

.contact-form label {
  display: block;
  margin: 15px 0 5px;
  font-weight: 600;
  text-align: left;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
  border-color: #0055a5;
  outline: none;
}

.contact-form textarea {
  height: 120px;
  resize: none;
}

.submit-button {
  width: 100%;
  padding: 12px 15px;
  margin-top: 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  transition: background-color 0.3s, box-shadow 0.2s;
}

.submit-button:hover {
  background-color: #0056b3;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* Responsive Design */
@media (max-width: 600px) {
  .contact-container {
    padding: 20px;
  }

  .contact-title {
    font-size: 2rem;
  }

  .contact-form {
    padding: 15px;
  }
}