.CollegeAcceptancesDiv {
    align-items: center;
    background: linear-gradient(rgba(217, 143, 80, 0.6), rgba(27, 65, 162, 0.6)), url("../Images/background3.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 1.5vmin);
    justify-content: center;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    padding: 2em 0; /* Added padding */
}

.CollegeAcceptancesDiv h1, .CollegeAcceptancesDiv h2 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 0.75em;
    font-family: 'Lato', serif; /* Updated font family */
    text-shadow: 2px 2px 6px rgba(21, 40, 103, 0.6);

}

.CollegeAcceptancesDiv h1 {
    font-size: 3em; /* Increased size */
    margin-bottom: 1em; /* Adjusted margin */
}

.CollegeAcceptancesDiv h2 {
    font-size: 2em; /* Increased size */
    margin-top: 0.5em; /* Adjusted margin */
}

.TRCul, .UBSul, .CLul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    max-width: 800px; /* Constrain the width for better readability */
}

.TRCul li, .UBSul li, .CLul li {
    background-color: #1F6376; /* Updated background color */
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 6px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease;
    
}

.TRCul li:hover, .UBSul li:hover, .CLul li:hover {
    transform: translateY(-5px); /* Subtle hover effect */
    background-color: rgba(3, 24, 39); /* Clean White with slight transparency */
    border-left: 9px solid rgb(213, 126, 72); /* Royal Blue border for emphasis */
    

}

.TRCul li a, .UBSul li a, .CLul li a {
    color: #FFFFFF;
    text-decoration: none;
}

.TRCul li a:hover, .UBSul li a:hover, .CLul li a:hover {
    color: #FFFFE0;
    text-decoration: underline; /* Added underline on hover for clarity */
    color: #f0c040;
    border-bottom-color: #f0c040;
}