.CollegeAcceptancesDiv {
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url("../Images/background3.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* This makes the background fixed during scrolling */
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 1.5vmin);
    justify-content: center;
    min-height: 90vh;
    font-family: 'Arial', sans-serif;
  }

.CollegeAcceptancesDiv h1 {
    color: #333;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 0.75em;
}

.CollegeAcceptancesDiv h2 {
    color: #555;
    text-align: center;
    font-size: 1.8em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.TRCul, .UBSul, .CLul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 1.5em;
}

.TRCul li, .UBSul li, .CLul li {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
}

.TRCul li:hover, .UBSul li:hover, .CLul li:hover {
    background-color: #eef;
}